a {
	text-decoration: none;
}

.App {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
  background-color: #ffffbe;
  height: 20px;
}

.App-header {
	position: absolute;
	top: 0px;
	width: 100%;
  background-color: #ffffbe;
  height: 175px;
	padding: 0;
}

.App-main {
	position: absolute;
	top: 180px;
	bottom: 20px;
	width: 100%;
  background: url('http://www.patapa.dhamma.org/image/menu-gradient-hover.jpg');
	display: flex;
	align-content: center;
	justify-content: center;
}

.App-page-container {
	margin: auto;
	width: 85%;
	height: 85%;
	background-color: white;
	background-size: 80px 60px;
  background-repeat: no-repeat;
	overflow: scroll;
	padding: 10px;
	border-radius: 1%;
}

.banner {
	text-align: center;
	height: 130px;
	color: #045fb4;
}

h1 {
	
}

.name {
	margin: .67em 0 0 0;
	color: #045fb4;
}

.nav-tags {
	color: black;
	text-decoration: none;
	margin: auto 5px auto auto;
	padding-right: .67em;
/*	border: 1px solid black;*/
	border-right: 1px solid black;
}

.nav-tags:hover {
	text-decoration: underline;
	color: #777;
}

.nav-tags-right {
	border-right: none;
	padding-right: 0;
}

.navbar {
	text-align: center;
	height: 30px;
	background-color: aliceblue;
	display: flex;
	justify-content: center;
	align-content: center;
}

.nav-collapsed {
	display: none;
	width: 100%;
}

.nav-expanded-wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
}

.nav-hamburger {
	margin: auto 10px auto auto;
}

.nav-hamburger:hover {
	cursor: pointer;
}

.side-nav-active {
	display: inherit;
	height: 200px;
}

.side-nav-inactive {
	display: none;
}

.text {
	color: black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media only screen and (max-width: 800px) {
	.App-page-container {
		width: 90%;
		height: 90%;
	}
	
	.nav-collapsed {
		display: inherit;
	}
	
	.nav-tags {
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	.name {
		margin: 1.67em 0 0 0;
	}
	
	.banner > p {
		display: none;
	}
}

@media only screen and (max-width: 500px) {
	.App-page-container {
		width: 95%;
		height: 95%;
		border-radius: 0;
	}
}